l
# pip install -r requirements.txt
# pip freeze > requirements.txt
# The above freezes the requirements
langgraph==1.2.6
langchain-google-genai==4.2.6
langchain-community==0.4.2
chromadb==1.5.9
pypdf==6.14.2
streamlit==1.58.0
python-dotenv==1.2.2
tavily-python==0.7.26
ipykernel==7.3.0